/* Main style sheet */

#EMHideMe {
    -moz-animation: fadeinout 5s ease-out forwards;
    /* Firefox */
    -webkit-animation: fadeinout 5s ease-out forwards;
    /* Safari and Chrome */
    -o-animation: fadeinout 5s ease-out forwards;
    /* Opera */
    animation: fadeinout 5s ease-out forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
    position:absolute;
    top:15%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px; /* Need a specific value to work */
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

