{% extends "base.html" %}

{% block head %}

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

{% endblock %}


{% block title %} Expenses {% endblock %}


{% block content %}

{% if message %}
	<div id="EMHideMe">{{ message }}</div><br>
{% endif %}

This is a diagram of your expenses for the past 2 months:<br>
<div class="row center">{{ plot_div|indent(4)|safe }}</div>

Below you can enter one new expense and insert it.<br>

<br>
Add a new expense:
<form action="" method="POST" class="col s12">
 	{{ form.csrf_token }}
	<div class="row">
        <div class="input-field col s4 push-s4">
          {{ form.user_name }}
          {{ form.user_name.label(class_="green-text text-darken-1") }}
        </div>
	</div>
	<div class="row">
		<div class="input-field col s4 push-s4">
          {{ form.expense_date }}
          {{ form.expense_date.label(class_="green-text text-darken-1") }}
        </div>
	</div>
	<div class="row">
		<div class="input-field col s4 push-s4">
          {{ form.expense_amount }}
          {{ form.expense_amount.label(class_="green-text text-darken-1") }}
        </div>
	</div>
	<div class="row">
		<div class="input-field col s8 push-s2">
          {{ form.expense_description }}
          {{ form.expense_description.label(class_="green-text text-darken-1") }}
        </div>
	</div>
	<input class="btn" type=submit value="Add expense">
</form>

{% endblock %}
