{% extends "base.html" %}

{% block title %}
  Donate to give Sophie a better life
{% endblock %}

{% block content %}
<h5 class="header col s12 light white-text">Spinraza Treatment for SMA (spinal muscular atrophy)</h5>

<div class="row center">
  <!--<a href="https://www.paypal.me/iviglious/10" id="demo-button" class="btn-large waves-effect waves-light green darken-3">Donate</a>-->
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XJPBQZ82HCQY4" id="demo-button" class="btn-large waves-effect waves-light green darken-3">Donate</a>
</div>
{% endblock %}